@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --text-color: #000;
    --box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);

}

body {
    font-family: "Quicksand", sans-serif;
    color: #111111;
    line-height: 1.7;
    font-weight: 500;
}


li a {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 600;
}

li a:hover {
    color: #fa921b !important;
}

img {
    width: 100%;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.navbar-nav{
    margin-left: auto;
}

.shadow-on-hover{
    transition: all 0.4s;
}

.shadow-on-hover:hover{
    box-shadow: var(--box-shadow);

}

/* Mengatur main title untuk bagian about, menu, features */
.main-title h2{
    color: #c67417;
    font-weight: 800;
}

/* Mengatur botton */
.btn {
    border-radius: 6px;
    padding: 14px 38px;
}

.btn-brand {
    background-color: #777;
    font-weight: 600;
    border-color: #f58d17;
    background-color: #f58d17;
}

.btn-brand:hover {
    border-color: #c67417;
    background-color: #f58d17;
    color: white;
}

#heroSlider h6::after,
#heroSlider h6::before {
    content: " ";
    width: 30px;
    height: 2px;
    background-color: white;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

/* hero slider */
.slide-1,
.slide-2{
    background: linear-gradient(#00000044, #00000044), url(../img/eksposed-home-ops1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #000000a9;
    width: 40px;
    height: 70px;
    margin: auto;
}

/* About */
#about .divider {
    width: 60px;
    height: 2px;
    display: grid;
    grid-template-columns: auto;
    background-color: #f58d17;
}
.img-about{
    display: grid;
    border-radius: 12px;
    width: 608px;
    height: 608px;
}


/* Menu */
.intro-text {
    margin-bottom: 40px;
    text-align: center;
}

.intro-text p {
    max-width: 500px;
    margin: 16px auto 0 auto;
}

.tab-content .text-menu{
    color: #000 !important;
}

#menu .nav-pills .nav-link{
    background-color:rgb(255, 255, 255);
    margin-left: 8px;
    margin-right: 8px;
    color: #000;
    border-radius: 100px;
    box-shadow: var(--box-shadow) ;
}

#menu .nav-pills .nav-link.active{
    background-color: #f58d17;
    color: #ffff;

}

.menu-item-content h5{
    color: #000;
}

.menu-item .stars{
    color: #f58d17;
}

.all-menu{
    padding-top: 100px;
    padding-left: 41%;

}
/* Feautures */
#features{
    background: linear-gradient(#000000e6, #000000a6), url(../img/feature-eksposed.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.features-content{
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.features-content .features-icon{
    width: 70px;
    height: 70px;
    background-color: #f58d17;
    color: white;
    font-size: 30px;
    display: inline-grid;
    align-content: center;
    text-align: center;
}


/* Team */
.team-vidio{
    border-radius: 12px;
    width: 308px;
    height: 308px;
    justify-items: center;
    align-items: center;
}





/* Review */
#review{
    background: linear-gradient(#000000e6, #000000a6), url(../img/feature-eksposed.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.review{
    border: 2px solid rgba(255, 255, 255, 0.3);
    background-color: #00000070;
}
.review img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.review .quote-icon{
    font-size: 40px;
    color: #000;
    line-height: 1px;
}

.review .person{
    width: 40%;
    height: 40%;
    border-radius: 50%;

}
.person{
    display: inline-flex;
}

.person img{
    justify-self: center;
}

.review .stars{
    color: #f58d17;
}

.carousel-indicators {
    margin-bottom: -45px;
}

/* reservation */
#reservation .form-control:focus{
    box-shadow: none;
    border-color: #f58d17;
}

#reservation input.form-control{
    height: 47px;
}

/* footer */
#footer{
    padding-top: 2%;
    padding-bottom: 2%;
    display: grid !important;
    grid-template-columns: minmax();
}

#footer .social-links{
    font-weight: 600px;
    font-size: 30px;
    
}

.footer-bottom{
    border-top: 2px solid rgba(163, 163, 163, 0.237);
}

